
*{
    text-decoration: none;
 }

.navbar{

    display:flex;
    justify-content: space-around;
    background-color: lightcoral;

    &__a{

        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}